@{
    ViewData["Title"] = "Home Page";
}

<style>
    body {
        background-image: url('/Images/Background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }
</style>
@if (User.Identity.IsAuthenticated)
{
    <div class="text-center">
        <h1 class="text-center text-capitalize text-light">Welcome To Tazkara @User.Identity.Name !</h1>
    </div>
}
else
{
    <h2 class="text-center text-capitalize text-light">Sign Up To Be Able To Book Your Tickets To Matches. </h2>
}

